<div
  class="h-screen flex items-center justify-center bg-gradient-to-r from-purple-50 to-pink-50"
>
  <div class="w-full max-w-md bg-white rounded-lg shadow-lg p-8">
    <div *ngIf="showEmailSent" class="text-center">
      <mat-icon
        class="animate-bounce mt-5"
        style="width: 100px; height: 100px; font-size: 80px; color: blue"
      >
        check_circle
      </mat-icon>
      <!-- Heading -->
      <h1 class="text-xl font-bold">Email Sent Successfully!</h1>

      <!-- Message -->
      <p class="mt-3 text-blue-700">
        We have sent a password reset link to your email. Please check your
        inbox.
      </p>

      <!-- Decorative Line -->
      <div class="w-20 h-1 bg-white mx-auto my-5 rounded-full opacity-50"></div>

      <!-- Subtext -->
      <p class="text-sm text-gray-400 italic">
        If you don’t see the email, check your spam folder.
      </p>
    </div>
    <div *ngIf="!showEmailSent" class="text-center mb-6">
      <h1 class="text-3xl font-bold text-purple-700 mb-2">Forgot Password</h1>
      <p class="text-gray-600">Enter your email to reset your password</p>
    </div>
    <form *ngIf="!showEmailSent" [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Enter your email"
          formControlName="email"
        />
        <mat-icon matPrefix>email</mat-icon>
      </mat-form-field>
      <button
        type="submit"
        [disabled]="!form.valid"
        class="w-full border border-slate-200 rounded-md disabled:bg-purple-400 py-2 px-3 bg-purple-700 text-white font-bold"
      >
        Send Reset Link
      </button>
    </form>
    <div *ngIf="!showEmailSent" class="mt-4 text-center">
      <a class="text-purple-700 hover:underline" [routerLink]="['/auth/login']"
        >Back to Login</a
      >
    </div>
  </div>
</div>

<div
  *ngIf="loading"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
>
  <div
    class="animate-spin rounded-full h-16 w-16 border-t-4 border-purple-500"
  ></div>
</div>
